+++
title = "Mediavine Trellis Developer Reference"
linkTitle = "Home"
exclude_search = true 

+++

{{% blocks/lead color="white" %}}

<h1 class="display-1">Mediavine Trellis Developer Reference</h1>

<span class="pn_thin">Trellis is a WordPress theme framework built with modern web technologies <br  />and designed for both site speed and revenue optimization.</span>

{{% /blocks/lead %}}

{{< blocks/section color="secondary" type="features">}}

{{% blocks/feature icon="fa-caret-square-down" title="Purchase a License" url="https://marketplace.mediavine.com/" %}}
To use Trellis, you need a valid license. Visit the Mediavine Marketplace to purchase one.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-newspaper" title="Read the Docs!" url="/docsytrellis/getting-started/" %}}
Build your own Trellis child theme by reading our developer documentation.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-file-code" title="API Reference" url="/docsytrellis/reference/" %}}
Learn about the filters, functions, and hooks available to Trellis child theme developers.
{{% /blocks/feature %}}

{{< /blocks/section >}}
